body {
  font-family: 'Helvetica Neue';
  color: #000;
}

h1 {
  font-size: 18pt;
  text-align: center;
  font-weight: bold;
  margin: 0 0 6pt 0;
}

h1+p {
  font-size: 14pt;
  text-align: center;
  padding: 0 0 18pt 0;
  margin: 0;
  border-bottom: 1px solid #000;
}

h2 {
  page-break-before: always;
  font-size: 16pt;
  font-weight: 500;
  background-color: #DDD;
  text-align: center;
  padding: 8px;
  border: 1px solid #000;
}

h3 {
  font-size: 14pt;
  font-weight: 500;
  text-align: center;
  margin: 28pt 0 12pt 0;
}

p {
  font-size: 12pt;
  line-height: 1.6;
  margin: 0 0 12pt 0;
}

p>em {
  border-left: 5px solid #CCC;
  margin-left: -10px;
  padding-left: 5px;
  display: block;
}